<fieldset>
    <legend>Modify Employee</legend>
    <form #modifyEmployeeForm='ngForm' (ngSubmit)='modifyemp()'>
        <p><input type='number' [(ngModel)]='id' name='id'
                  placeholder='Enter employee id' /></p>
        <p><input type='text' [(ngModel)]='ed' name='ed'
                  placeholder='Enter new education' /></p>
        <p><input type='text' [(ngModel)]='role' name='role'
                  placeholder='Enter new role' /></p>
        <p><input type='submit' value='Modify' /></p>
    </form>
</fieldset>
